h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 55px;
}

h2, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skip a{
    opacity: 0%;
}

.skip a:focus, .skip a:hover{
    opacity: 100%;
}

header{
    background-color: #F7EDF0;
    padding: 15px 15px 15px 15px;
}

header img{
    position: relative;
    aspect-ratio: 16 / 4;
    width: 100%;
}

.menu li a{
    background-color: #023618;
    padding: 7px 10px 7px 10px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    border-color: beige;
    border: outset 5px black;
}

.menu li a:active{
    color: black;
    background-color: white;
}

.source{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.source_link{
    text-decoration: none;
    color: black;
    font-style: italic;
}

nav ul{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    list-style-type: none;
}

#candidates_list{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px 10px 0px 10px;
}

#candidates_list img{
    width: 700px;
    position: relative;
    transition-property: opacity, border-radius;
    transition-duration: .3s;
    transition-timing-function: linear;
    z-index: 10;
}

#candidates_list img:hover{
    border-radius: 50%;
    opacity: 40%;
}

#main_candidates h2{
    text-align: center;
}

#candidates_list p{
    position: relative;
    bottom: 50%;
    z-index: 5;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

#winners_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#winners_list img{
    width: 500px;
    position: relative;
    transition-property: opacity, border-radius;
    transition-duration: .3s;
    transition-timing-function: linear;
    border-radius: 25%;
    z-index: 10;
}

#winners_list img:hover{
    border-radius: 0%;
    opacity: 25%;
}

#winners_list .desc{
    width: 500px;
    position: relative;
    bottom: 50%;
    z-index: 5;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

#winners_list h3{
    font-size: 30px;
}

#winners_list p{
    font-size: 20px;
}


#f1{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

#f2{
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}

#f3{
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}

#f4{
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}

#f5{
    grid-row: 3 / 3;
    grid-column: 1 / 1;
}

#f6{
    grid-row: 3 / 3;
    grid-column: 2 / 2;
}

#f7{
    grid-row: 4 / 4;
    grid-column: 1 / 1;
}

#f8{
    grid-row: 4 / 4;
    grid-column: 2 / 2;
}

#f9{
    grid-row: 5 / 5;
    grid-column: 1 / 1;
}

#f10{
    grid-row: 5 / 5;
    grid-column: 2 / 2;
}

#f11{
    grid-row: 6 / 6;
    grid-column: 1 / 1;
}

#f12{
    grid-row: 6 / 6;
    grid-column: 2 / 2;
}

#f13{
    grid-row: 7 / 7;
    grid-column: 1 / 1;
}

#f14{
    grid-row: 7 / 7;
    grid-column: 2 / 2;
}

#f15{
    grid-row: 8 / 8;
    grid-column: 1 / 1;
}

#f16{
    grid-row: 8 / 8;
    grid-column: 2 / 2;
}

#f17{
    grid-row: 9 / 9;
    grid-column: 1 / 1;
}

#f18{
    grid-row: 9 / 9;
    grid-column: 2 / 2;
}

#f19{
    grid-row: 10 / 10;
    grid-column: 1 / 1;
}

#f20{
    grid-row: 10 / 10;
    grid-column: 2 / 2;
}

#f21{
    grid-row: 11 / 11;
    grid-column: 1 / 1;
}